:root {
  --text-color: #eef1ef;
  --input-background-color: #1c2321;
  --input-border-color: #a9b4c2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
}

#input-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#box-container {
  display: none;
  gap: 0.7rem;
  flex-wrap: wrap;
  align-content: center;
}

#input-container,
#box-container {
  background-color: #5e6572;
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#input-div {
  height: 3rem;
  margin: 1.2rem;
  display: flex;
  justify-content: center;
  border: 1px solid var(--input-border-color);
}

#num-of-chars,
.char-box {
  /* the two elements that ask for input from the user */
  height: 100%;
  font-size: 2.5rem;
  background-color: var(--input-background-color);
  color: var(--text-color);
  border: none;
  text-align: center;
}

.char-box {
  width: 3rem;
  border: 1px solid var(--input-border-color);
  height: 3rem;
}

#confirm-chars-btn,
#add-chars-btn {
  /* these are the two button elements that use google icons */
  height: 100%;
  background-color: var(--input-background-color);
  border: none;
  border-left: 1px solid var(--input-border-color);
}

#add-chars-btn {
  border: 1px solid var(--input-border-color);
  height: 3rem;
}

#confirm-chars-btn span,
#add-chars-btn span {
  /* these are the actual google icons inside the button elements */
  background-color: var(--input-background-color);
  color: var(--text-color);
  padding: 0.3rem;
}

#status-div {
  /* this is where status messages are displayed */
  height: 1.5rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

#box-div,
#button-div {
  /* box-div contains all the char-box elements which will be created, and button div conntains the add-chars-button, both are child elements of box-container */

  display: flex;
  justify-content: center;
  gap: 0.7rem;
}

#box-div {
  flex-wrap: wrap;
}

#box-div > div {
  /* inside box-div we create additional div elements which will contain 1 char-box and 1 remove-chars-btn element each. */
  position: relative;
}

.remove-chars-btn {
  z-index: 3;
  line-height: 1.3rem;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: -10px;
  right: -7px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 50%;
  background-color: var(--text-color);
  color: var(--input-background-color);
  text-align: center;
  opacity: 0.7;
  display: none;
}

.hover-remove-button:hover + .remove-chars-btn,
.remove-chars-btn:hover {
  display: block;
  cursor: pointer;
}
